
<div style="position: fixed; width: 100%; z-index: 2;">


<nav class="navbar navbar-expand-lg bg-light nav_shadow">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
        <img src="assets/logo/gurukashi_logo.png">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        
          <a class="navbar-brand" routerLink="/home" >
            
            <img src="assets/logo/lgs.png" height="50" style="margin-left: 66px;">
            <p style="font-weight:bold;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;color:#9e2224">Lakhera Global
              Services</p>
           
          </a>
         
        </ul>
        
      </div>
    </div>
  </nav>
</div>
  