<footer class="text-center text-lg-start" style="background-color: #001a4cfa;">
    
    <!-- Grid container -->
    <div class="container p-4">
        <div class="col myDiv">
            <button type="button" class=" btn btn-primary" style="height: 40px; border-radius: 2px;
            width: 222px;
            background-color:rgb(97 4 0 / 87%);border: 1px solid rgb(97, 0, 0)"><span class="btntext"> Admission open </span>2022-2033</button>
            </div>
        <!--Grid row-->
        <div class="row">
           
            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
               <img class="img-fluid" src="/assets/MicrosoftTeams-image (2).png" alt="">

                <ul class="list-unstyled mb-0 mt-3 ">
                    <li>
                        <iframe class="map"
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13826.615962652782!2d75.1248143!3d29.9606297!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa0013bc90ab8d7df!2sGuru%20Kashi%20University!5e0!3m2!1sen!2sin!4v1670933391963!5m2!1sen!2sin"
                            width="230" height="100" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none" ><i class="fa-solid fa-location-dot"></i> Guru Kashi University,
                            Sardulgarh Road, Talwandi Sabo, Punjab 151302</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none" ><i class="fa fa-phone-square" aria-hidden="true"></i> 991420-83400</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none" ><i class="fa fa-envelope-o" aria-hidden="true"></i> info@jku.ac.in</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h2 class="text-uppercase mb-0" style="color:#fff"> Admission </h2>

                <ul class="list-unstyled mt-3">
                    <li>
                        <a href="#!" style="text-decoration: none" >Admission 2022-23</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none">Admissions office</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none" > All Programmes</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none" > International Admissions</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none" > Location Advantage</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h2 class="text-uppercase" style="color: #fff;">Useful links </h2>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" style="text-decoration: none">Downloads</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none" >IQAC</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none">Students interaction
                            cell(SIC)</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none"> Scholarships</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none" > NCTE</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none" > Examination and Result</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none" > Feedback</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none"> Blog</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none" > Ph.D Booklet</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h2 class="text-uppercase mb-0" style="color: #fff"> Committees</h2>

                <ul class="list-unstyled mt-2">
                    <li class="list">
                        <a href="#!" style="text-decoration: none">Committees for SC/ST</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none"> Minority Cell</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none"> Grievance Redressal
                            Comittee</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none" > Internal Complaint
                            Comittee</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none" > Anti-ragging Comittee</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none" > OBC Cell</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none" > OBC Cell</a>
                    </li>
                    <h2 class="mt-2" style="color:#fff;"> Policies</h2>
                    <li>
                        <a href="#!" style="text-decoration: none; color: #fff;" > GKU LEAVE POLICY 2022</a>
                    </li>
                    <li>
                        <a href="#!" style="text-decoration: none" > MEES Policy</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: black;">
    </div>
    <!-- Copyright -->

</footer>

