a{
    color:#ffffffbf
}
li{
    font-size: 16px;
}
.myDiv {
    transform: rotateZ(270deg);
    position: absolute;
    margin-left:-220px;
    margin-top: 100px;
}
.btntext{
    font:16px
}
.list-unstyled li a{
    font-size: 12px;
    font-weight: 200;
}