.top_nav{
    background-color: #051e50;
    height: 20px !important;
}

.top_nav_links li a{
    color:#fff
}

.nav_shadow{  
    box-shadow: 0px 0px 16px -6px;
}

.btn-danger{
    background-color: rgb(158, 30, 30) !important;
    border:none;
    border-radius: 4px;
}