<div class="sidebar">
    
    <a class="Privacy2" [routerLink]="['/home']" routerLinkActive="router-link-active" ><i class="fa fa-home" aria-hidden="true"></i>
         Home</a>
         <a class="Privacy2" [routerLink]="['/counsellorName']" routerLinkActive="router-link-active" ><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Counsellor Name</a>
        
    <a class="Privacy2" [routerLink]="['/adm']" routerLinkActive="router-link-active" ><i class="fa fa-user" aria-hidden="true"></i>&nbsp;Admission</a>
    <a class="Privacy2" [routerLink]="['/admission']" routerLinkActive="router-link-active" ><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;View Admission Detail</a>
    <a class="Privacy2" ><i class="fa fa-file" aria-hidden="true"></i>&nbsp;All Files</a>
    <a class="Privacy2" ><i class="fa fa-repeat" aria-hidden="true"></i>&nbsp; Recents</a>
    <a class="Privacy2"  ><i class="fa fa-hourglass-start" aria-hidden="true"></i>&nbsp; Starred</a>
    <a class="Privacy2"  ><i class="fa fa-picture-o" aria-hidden="true"></i>&nbsp; Photos</a>
    <a class="Privacy2"   ><i class="fa fa-share-alt-square" aria-hidden="true"></i>&nbsp;Shared</a>
    <a class="Privacy2"   ><i class="fa fa-superpowers" aria-hidden="true"></i>&nbsp;File requests</a>
    <a class="Privacy2" [routerLink]="['/dashboard']" routerLinkActive="router-link-active" ><i class="fa-solid fa-chart-simple"></i>&nbsp;Dshboard</a>
    <a class="Privacy2"  (click)="Logout()"><i class="fa fa-trash" aria-hidden="true"></i>&nbsp;Logout</a>
    
</div>
